.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 150px;
    background-color: #247;
    color: white;
	
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: gray;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0;

}

cite {
    display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size: smaller;
}

main {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
}

aside {
    background-color: #f4f4f4;
    padding: 15px;
    border-left: 5px solid #ccc;
}

aside img {
    width: 100%; 
    height: auto;
    border-radius: 5px;
}

p {
    padding: 0;
    margin: 10px 0; 
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}